
h1{
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;

    
}

h2{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;

}

    

h4 {
    font-weight: bolder;
}

.card-body{
    text-align: center;
    padding: 30px;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: inherit;
    height: 580px;
    background-color: white;
    margin-bottom: 20px;
    width: 400px;
}

@media screen and (max-width :900px){
    .card{
        margin-left: 20px;
        
    }
}
.card-img-top {
    width: 400px;
    height: 260px;
}