
h1{
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;

    
}

h2{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;

}

    

h5 {
    font-weight: bolder;
}

.card-body{
    text-align: center;
    padding: 30px;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    line-height: inherit;
    height: 650px;
    border-radius: 25px;
    background-color: white;
    clear: both;
    width: 400px;
}


.card-img-top {
    width: 400px;
    height: 300px;
}