.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 25px;
    width: 100%;
    line-height: inherit;
    border-radius: 25px;
    margin: 15px;
    
}

h1{
    padding: 50px;
    text-align: center;
}

h3{
    font-weight: bolder;

}

.container{
    padding: 10px;
}