
{%  extends 'base.html' %}

<!-- style -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
{% endblock %}
<title>{{cat}}</title>
<!-- Content Block -->
{%  block content %}
    <h1>{{cat}} News</h1>
    <h2>TRENDING</h2>
    <br>
    <!-- Sources Top headline articles  -->
    {% for category in category %}
    <div class="container col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
        <div class="card">
            <img class="card-img-top" src="{{category.urlToImage}}" alt="Card image cap" >
            <div class="card-body">
                <a href="{{category.url}}" ><h4 class="card-title">{{category.title}}</h4></a>
                <p class="card-text">{{category.description}}</p><hr>
                <small class="text-muted" style="text-align: center;"><strong>{{category.author}}</strong></small><br>
                <small class="text-muted" style="text-align: center;"><strong>Publish date :{{category.publishedAt }} </strong></small>
            </div>
        </div>
    </div>
    {% endfor %}

{%  endblock %}



