{%  extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bungee+Inline&family=Faster+One&family=Fredericka+the+Great&display=swap" rel="stylesheet">
{% endblock %}
<!-- Content Block -->
{%  block content %}
    <!--Header hero image-->
    <div class="hero-image">
        <div class="hero-text">
        <h1>WELCOME TO <span> MERCURY</span><br>News_API</h1>
        <h4><i>"Never miss out on the highlights"</i></h4>
        <hr>
        <br>
        <a style="color: white;" href="#sources"><button class="btn btn-info" >Read News</button></a>
        </div>
    </div>
    <div id="about">
        <h2 >ABOUT</h2>
        <hr>
        <p> 
        A News API provides live headlines, images, and other article metadata from a range 
        of popular news sources and blogs. The service provides data from over 30,000 news sources
        and blogs in more than 55 countries. including TechCrunch, Reuters, NYT, WSJ, and BBC News
        </p>
        
    </div>
    <div id="sources">
        <h2 style="text-align: center;" style="font-weight: bolder;">SOURCES</h2>
        <hr>
    </div>

    <!-- News Sources  -->
    {%  for source in sources %}
    <div class="container col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" > 
        <div class="card" >
            <div class="card-body">
                <a class="card-title" href="/articles/{{ source.id  }}"><h3 >{{ source.name }}</h3></a>
                <hr>
                <p class="card-text"><strong> Description:</strong><br>{{source.description|truncate(300)}}</p>
                <h5 class="card-text"><strong>category: {{ source.category}}</strong></h5>
            </div>
        </div>
    </div>

    {%  endfor %}
{%  endblock %}
