

<nav class="navbar navbar-inverse" role="navigation" style="padding: 30px;" style="background-color: red;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="text-align: right;">® MERCURY | NEWS</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a style="text-align: right;"  href="/"><strong> Home</strong></a></li>
            <li><a style="text-align: right;"  href="/"><strong> Sources</strong></a></li>
        </ul>
    </div>
</nav>
