
<!-- Navbar -->
<nav class="navbar navbar-inverse" role="navigation" style="border-color:#333;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#about" style="text-align: right;">® MERCURY | NEWS</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a style="text-align: right;"  href="/"><strong><i class="fa fa-home" aria-hidden="true"></i>  Home</strong></a></li>
            <li><a style="text-align: right;"  href="/#sources"><i class="fas fa-rss"></i><strong> Sources</strong></a></li>
            <li><a style="text-align: right;"  href="/{{'categories/Business'}}"><i class="fas fa-business-time"></i><strong> Business</strong></a></li>
            <li><a style="text-align: right;"  href="/{{'categories/Technology'}}"><i class="fas fa-microchip"></i><strong> Technology</strong></a></li>
            <li><a style="text-align: right;"  href="/{{'categories/Science'}}"><i class="fas fa-flask"></i><strong> Science</strong></a></li>
            <li><a style="text-align: right;"  href="{{'categories/Sports'}}"><i class="fas fa-basketball-ball"></i><strong> Sports</strong></a></li>
            <li><a style="text-align: right;"  href="/{{'categories/Entertainment'}}"><i class="fas fa-film"></i><strong> Entertainment</strong></a></li>
        </ul>
    </div>
</nav>
